FORMAT: 1A
HOST: https://happymoodscore.com/api/v3/

# Happy Mood Score

This document references Happy Mood Score version 3 of the API.

Happy Mood Score is an employee feedback and engagement tool. To know more visit https://www.happymoodscore.com

If you are looking for the deprecated v2 documentation you can find it here: http://docs.happymoodscorev2.apiary.io/


## Authentication [/login]

All requests to the API should include a valid Auth-Token and a User-Id

### Create a new set of credentials [POST]
Creates a new set of authentication credentials for that user.
If request is successfull it will return an Auth-Token and a User-Id. 

You will need to save these credentials and use them in your requests.

It will also return the employeeId associated with that user. This will help you link the current user with all its information as an employee.

Example: 

curl -H 'Accept: application/json' -H 'Content-type: application/json' "https://happymoodscore.com/api/v3/login" -X POST -d '{"email": "manager@company.com", "password": "123456"}'

+ Request (application/json)

        {
            "email": "employee@company.com",
            "password": "123456"
        }
        
+ Response 200 (application/json)

        {
            "status": "success",
            "data": {
                "authToken": "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz",
                "userId": "HpzTxbG42fAqAMRhK",
                "extra": {
                    "employeeId": "vGk7DYBCoToCGhphS"
                }
            }
        }
        
## Revoke authentication token [/logout]

### Invalidate authentication token [POST]
Invalidates the Auth-Token passed in the request.
The user will need to obtain a new set of credentials to be able to 
use the API again.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/logout"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        {
            "status": "success",
            "data": {
                "message": "You've been logged out!"
            }
        }

## Campaigns [/campaigns]

### List all campaigns [GET]
With campaigns you can create custom feedback forms. These feedback forms will be publicy visible.

You can use campaigns to get feedback not only from employees but from customers, visitors...

After a company event, to request opinions, or just as a quick survey, there are plenty of uses for campaigns.

You can customise all information that appears on the campaign like the question or the text of the possible answers.

You can group campaigns by category to get statistics of related campaigns.

Only active campaigns can receive votes from visitors. 

  * id: Unique ID assigned to the campaign.
  * name: Name
  * publicURL: Public url of the campaign
  * active: Indicates if campaigns is active. Visitors can only give feedback to active campaigns.
  * question: Main question visitors will have to answer selection one of the available choices. Like: Did you like our last event?
  * category: Category.
  * description: Text explaining details of the campaign.
  * showComments: Display the comments textarea to visitors.
  * answers: Array with the title of the possible answers.
  * answers[positiveAnswer]: Text for the positive answer.
  * answers[neutralAnswer]: Text for the neutral answer.
  * answers[negativeAnswer]: Text for the negative answer.
  * totalComments: Number of comments received.
  * resultsPositive: Number of votes that choose the positive option.
  * resultsNeutral: Number of votes that choose the neutral option.
  * resultsNegative: Number of votes that choose the negative option.


Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/campaigns"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "2018-awards",
                "publicURL": "https://www.happymoodscore.com/c/company-name/2018-awards",
                "active": true,
                "question": "Did you enjoy the company awards event?",
                "category": "internal",
                "description": "Please tell us how was the event..."
                "showComments": true,
                "answers": [
                    "positiveAnswer": "It was fantastic!",
                    "neutralAnswer": "It was ok",
                    "negativeAnswer": "It needs to improve",
                ],
                "totalComments": 14,
                "resultsPositive": 213,
                "resultsNeutral": 98,
                "resultsNegative": 27
            }
        ]

### Add a new campaign [POST]
Add a new campaign.

  * id: Unique ID assigned to the campaign.
  * name: Name
  * publicURL: Public url of the campaign
  * active: Indicates if campaigns is active. Visitors can only give feedback to active campaigns.
  * question: Main question visitors will have to answer selection one of the available choices. Like: Did you like our last event?
  * category: Category.
  * description: Text explaining details of the campaign.
  * showComments: Display the comments textarea to visitors.
  * answers: Array with the title of the possible answers.
  * answers[positiveAnswer]: Text for the positive answer.
  * answers[neutralAnswer]: Text for the neutral answer.
  * answers[negativeAnswer]: Text for the negative answer.
  * totalComments: Number of comments received.
  * resultsPositive: Number of votes that choose the positive option.
  * resultsNeutral: Number of votes that choose the neutral option.
  * resultsNegative: Number of votes that choose the negative option.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/campaigns"  -X POST -d '{"name": "Updated name", "question": "Is our website helpful", "positiveAnswer": "It's perfect", "neutralAnswer": "It's ok", "negativeAnswer": "It needs to be updated"}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                name (string) - The name of the campaign. Public URL will be based on this name.
                question (string) - Question to ask visitors.   
                category (string) - Internal category used to group related campaigns together.
                description (string) -  Explanation of campaign and what visitors need to do.
                showComments (boolean) - Display a textarea where visitors can send us an optional message.
                active (boolean) - Is this campaign active? Only active campaigns are visible to visitors.
                positiveAnswer (string) - Text with the positive answer to the question.
                neutralAnswer (string) - Text with the neutral answer to the question.
                negativeAnswer (string) - Text with the negative answer to the question.
            }

+ Response 200 (application/json)

            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "2018-awards",
                "publicURL": "https://www.happymoodscore.com/c/company-name/2018-awards",
                "active": true,
                "question": "Did you enjoy the company awards event?",
                "category": "internal",
                "description": "Please tell us how was the event..."
                "showComments": true,
                "answers": [
                    "positiveAnswer": "It was fantastic!",
                    "neutralAnswer": "It was ok",
                    "negativeAnswer": "It needs to improve",
                ],
                "totalComments": 14,
                "resultsPositive": 213,
                "resultsNeutral": 98,
                "resultsNegative": 27
            }
    
## Campaign [/campaigns/{campaignId}]    

### Display a campaign [GET]
Returns information for the selected campaign.

Only users with admin or manager permissions can have access to a campaign.

  * id: Unique ID assigned to the campaign.
  * name: Name
  * publicURL: Public url of the campaign
  * active: Indicates if campaigns is active. Visitors can only give feedback to active campaigns.
  * question: Main question visitors will have to answer selection one of the available choices. Like: Did you like our last event?
  * category: Category.
  * description: Text explaining details of the campaign.
  * showComments: Display the comments textarea to visitors.
  * answers: Array with the title of the possible answers.
  * answers[positiveAnswer]: Text for the positive answer.
  * answers[neutralAnswer]: Text for the neutral answer.
  * answers[negativeAnswer]: Text for the negative answer.
  * totalComments: Number of comments received.
  * resultsPositive: Number of votes that choose the positive option.
  * resultsNeutral: Number of votes that choose the neutral option.
  * resultsNegative: Number of votes that choose the negative option.


Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/campaigns/gaEATkQ8PBuemBCiv"

+ Parameters
    + campaignId (string) - Id of the campaign.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "2018-awards",
                "publicURL": "https://www.happymoodscore.com/c/company-name/2018-awards",
                "active": true,
                "question": "Did you enjoy the company awards event?",
                "category": "internal",
                "description": "Please tell us how was the event..."
                "showComments": true,
                "answers": [
                    "positiveAnswer": "It was fantastic!",
                    "neutralAnswer": "It was ok",
                    "negativeAnswer": "It needs to improve",
                ],
                "totalComments": 14,
                "resultsPositive": 213,
                "resultsNeutral": 98,
                "resultsNegative": 27
            }
            
### Edit a campaign [POST]
Update information for the selected campaign.

Only users with admin or manager permissions can modify a campaign.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/campaigns/gaEATkQ8PBuemBCiv" -X POST -d '{"name": "Updated name", "question": "Is our website helpful"}'

+ Parameters
    + campaignId (string) - Id of the campaign.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                name (string) - The name of the campaign. Public URL will be based on this name.
                question (string) - Question to ask visitors.   
                category (string) - Internal category used to group related campaigns together.
                description (string) -  Explanation of campaign and what visitors need to do.
                showComments (boolean) - Display a textarea where visitors can send us an optional message.
                active (boolean) - Is this campaign active? Only active campaigns are visible to visitors.
                positiveAnswer (string) - Text with the positive answer to the question.
                neutralAnswer (string) - Text with the neutral answer to the question.
                negativeAnswer (string) - Text with the negative answer to the question.
            }

+ Response 200 (application/json)    

            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "2018-awards",
                "publicURL": "https://www.happymoodscorel .com/c/company-name/2018-awards",
                "active": true,
                "question": "Did you enjoy the company awards event?",
                "category": "internal",
                "description": "Please tell us how was the event..."
                "showComments": true,
                "answers": [
                    "positiveAnswer": "It was fantastic!",
                    "neutralAnswer": "It was ok",
                    "negativeAnswer": "It needs to improve",
                ],
                "totalComments": 14,
                "resultsPositive": 213,
                "resultsNeutral": 98,
                "resultsNegative": 27
            }

## Company [/company]

### Information about your company [GET]
Returns information about your company

Only users with admin or manager permissions can request this information. 

  * id: Unique ID assigned to the company.
  * name: Name of the company
  * slug: URL slug
  * hms: Global Happy Mood Score.
  * involvement: Global involvement.
  * defaultLanguage: Default language for communications, emails.  Currently only "en" and "es" are supported.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/company"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "Highlands Company",
                "slug": "highlands-company",
                "hms": 8,
                "involvement": 87.5,
                "defaultLanguage": "en"
            }
        ]
        
## Teams [/teams]

### List all teams [GET]
Returns all teams.

Only users with admin or manager permissions will get a list of teams. 

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/teams"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "Developers",
                "totalEmployees": 0,
                "hms": "0",
                "involvement": "0",
                "worseThanExpected": "12",
                "betterThanExpected": "23",
                "asExpected": "79",
                "high5Received": "42",
                "high5Given": "62",
                "numberComments": "21",
                "totalVotes": "114"
            }
        ]
        
### Add a new team [POST]
Add a new team.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/teams"  -X POST -d '{"name": "Developers"}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                name (string) - The name of the new team.
            }

+ Response 200 (application/json)

        {
            "id": "gaEATkQ8PBuemBCiv",
            "name": "Developers",
            "totalEmployees": 0,
            "hms": "0",
            "involvement": "0"
        }

## Team [/teams/{teamId}]

### Display a team [GET]
Returns information for the selected team.

Only users with admin or manager permissions can have access to any team. Standard users will only get information from their own team.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/teams/gaEATkQ8PBuemBCiv"

+ Parameters
    + teamId (string) - Id of the team.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        {
            "id": "gaEATkQ8PBuemBCiv",
            "name": "Developers",
            "totalEmployees": "0",
            "hms": "0",
            "involvement": "0",
            "worseThanExpected": "12",
            "betterThanExpected": "23",
            "asExpected": "79",
            "high5Received": "42",
            "high5Given": "62",
            "numberComments": "21",
            "totalVotes": "114"
        }

        
## Employees [/employees]

### List all employees [GET]
Returns all employees. For every employee you will get: 

  * id: Unique ID assigned to the employee.
  * name: Name
  * email: Email
  * avatar: Url where the employee avatar is stored.
  * HMS This number reflects the Happy Mood Score of the employee. It is a number that ranges from -10 to +10.
  * Involvement: % of global involvement.
  * Points: Points obtained by the employee,
  * levelName: Current level achived by the employee.
  * high5Given: High 5s this employee has send to other coworkers.
  * high5Received: High 5s this employee has recevied from other coworkers.
  * numberComments: Feedback that include a comment. 
  * totalVotes: Total number of times this employee has send feedback (with or without comment).
  * status: Employee is active or archived.
  * teamId: Id of the team that this employee belongs to.
  * teamName: Name of the team that this employee belongs to.
  * pushKey: Key needed to send push notifications if employee has mobile notifications enabled.

An authenticated user with admin or manager permissions will get a list of all active users and their metrics. 

A standard user will only get basic user info and no metrics.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/employees"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "Claire Beauchamp",
                "email": "employee@company.com",
                "avatar": "https://happymoodscore.com/cfs/files/images/w7f2GaYM3Lhoedwbx/avatar.png",
                "hms": "5",
                "involvement": "23.98",
                "points": "2300",
                "levelName": "Level 5",
                "worseThanExpected": "1",
                "betterThanExpected": "2",
                "asExpected": "7",
                "high5Received": "2",
                "high5Given": "6",
                "numberComments": "3",
                "totalVotes": "10",
                "status": "Active",
                "teamId": "faEATkQ8PBuemBCee",
                "teamName": "Designers",
                "pushKey": ["poiuy45678"]
            }
        ]
        
### Add a new employee [POST]
Add a new employee to the selected team. The status of the new employee will be active.

Push key is used to send push notifications to mobile applications when some events occured like the employee receives a High 5 or to receive feedback alerts.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/employees"  -X POST -d '{"name": "Black Jack", "email": "black.jack@company.com", "teamId": "p5vpa4pfTCcthc8xu", "pushKey": ["poiuy45678"]}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                name (string) - The name of the new employee.
                email (string) - The email of the new employee. Employee will receive an email to validate the account and add a password.
                teamId (string) - ID of the team where the new employee will be added.
                pushKey (array | optional) - Array of unique Ids needed to send push mobile notifications.
            }

+ Response 200 (application/json)

        {
            "id": "gaEATkQ8PBuemBCiv",
            "name": "Black Jack",
            "email": "black.jack@company.com",
            "avatar": "https://happymoodscore.com/cfs/files/images/w7f2GaYM3Lhoedwbx/avatar.png",
            "hms": "0",
            "involvement": "0",
            "points": "0",
            "hi5": "0",
            "levelName": "Level 0",
            "worseThanExpected": "0",
            "betterThanExpected": "0",
            "asExpected": "0",
            "high5Received": "0",
            "high5Given": "0",
            "numberComments": "0",
            "totalVotes": "0",
            "status": "Active",
            "teamId": "faEATkQ8PBuemBCee",
            "teamName": "Designers",
            "pushKey": ["poiuy45678"]
        }

## Employee [/employees/{employeeId}]

### Display an employee [GET]
Returns information for the selected employee.

Only users with admin or manager permissions can have access to any employee. Standard users will only get their own information.

Push key is used to send push notifications to mobile applications when some events occured like the employee receives a High 5, to receive feedback alerts, etc. It's an array of ids. One for each device where the user has installed the app.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/employees/gaEATkQ8PBuemBCiv"

+ Parameters
    + employeeId (string) - Id of the employee.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
    
+ Response 200 (application/json)

        {
            "id": "gaEATkQ8PBuemBCiv",
            "name": "Claire Beauchamp",
            "email": "employee@company.com",
            "avatar": "https://happymoodscore.com/cfs/files/images/w7f2GaYM3Lhoedwbx/avatar.png",
            "hms": "5",
            "involvement": "23.98",
            "points": "2300",
            "hi5": "23",
            "levelName": "Level 5",
            "worseThanExpected": "1",
            "betterThanExpected": "2",
            "asExpected": "7",
            "high5Received": "2",
            "high5Given": "6",
            "numberComments": "3",
            "totalVotes": "10",
            "status": "Active",
            "teamId": "faEATkQ8PBuemBCee",
            "teamName": "Designers",
            "pushKey": ["poiuy45678"]
        }
        
### Edit an employee [POST]
Update information for the selected employee.

Only users with admin or manager permissions can have access to any employee. Standard users will only be able to edit their own information.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/employees/gaEATkQ8PBuemBCiv" -X POST -d '{"name": "Black Jack", "email": "black.jack@company.com", "teamId": "p5vpa4pfTCcthc8xu", "pushKey": ["poiuy45678"]}'

+ Parameters
    + employeeId (string) - Id of the employee.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                name (string) - The name of the new employee.
                email (string) - The email of the new employee. Employee will receive an email to validate the account and add a password.
                teamId (string) - ID of the team where the new employee will be added.
                pushKey (array | optional) - Array of unique Ids needed to send push mobile notifications.
            }

+ Response 200 (application/json)

        {
            "id": "gaEATkQ8PBuemBCiv",
            "name": "Jack Black",
            "email": "black.jack@company.com",
            "avatar": "https://happymoodscore.com/cfs/files/images/w7f2GaYM3Lhoedwbx/avatar.png",
            "hms": "5",
            "involvement": "23.98",
            "points": "2300",
            "hi5": "23",
            "levelName": "Level 5",
            "worseThanExpected": "1",
            "betterThanExpected": "2",
            "asExpected": "7",
            "high5Received": "2",
            "high5Given": "6",
            "numberComments": "3",
            "totalVotes": "10",
            "status": "Active",
            "teamId": "p5vpa4pfTCcthc8xu",
            "teamName": "Designers",
            "pushKey": ["poiuy45678"]
        }        
        
## High 5s [/high5/{?receiverId}/{?senderId}/{?startDate}/{?endDate}] 

### List all high 5s [GET]
Returns all High 5s for the specified employees. You can filter by sender and or receiver.

Only users with admin or manager permissions will get a list of all feedback. Standard users can not access this endpoint.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/high5?senderId=gaEATkQ8PBuemBCiv&recevierId=vFZ5mrecWazrJeBW3&startDate=2016-03-01&endDate=2016-03-31"

+ Parameters
    + receiverId (string, optional) - Id of the employee that received the High 5.
    + senderId (string, optional) - Id of the employee that sent the High 5.
    + startDate (string, optional) - Format YYYY-MM-DD.
    + endDate (string, optional) - Format YYYY-MM-DD.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "deZXR4fyxdFmcNLTY",
                "senderId": "gaEATkQ8PBuemBCiv",
                "senderName": "Claire Beauchamp",
                "receiverId": "vFZ5mrecWazrJeBW3",
                "receiverName": "James Fraser",
                "message": "I'm your sassenach",
                "createdAt": "2017-01-16T18:10:55.500Z"
            }
        ]

### Create a new High 5 [POST]
Creates a new High 5 for the receiver. An optional description can be send explaining the reason why the High 5 was awarded.

An authenticated user with admin or manager permissions must send the sender employee ID and the receiver employee ID.  
If the authenticated user has employee permission senderId will be ignored (can be left blank) and the authenticated user will be set as the sender.

If the request is successfull the updated profile for both the sender and the receiver will be returned. 
If the authenticated user has employee permissions, only the sender profile will be returned.

Example (Manager):

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-d: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/high5/" -d '{"receiverId": "gaEATkQ8PBuemBCiv", "senderId": "vFZ5mrecWazrJeBW3", "description": "Thanks for your help mate!!"}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                receiverId (string) - Id of the employee that will receive the High 5.
                senderId (string, optional) - Id of the employee that is giving the High 5. It will default to the authenticated user.
                description (string, optional) - Optional comment.
            }

+ Response 201 (application/json)

        [
            sender: {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "Claire Beauchamp",
                "email": "employee@company.com",
                "hms": "5",
                "involvement": "23.98",
                "points": "2300",
                "hi5": "23",
                "status": "Active",
                "teamId": "faEATkQ8PBuemBCee",
                "teamName": "Designers"
            },
            receiver: {
                "id": "vFZ5mrecWazrJeBW3",
                "name": "James Fraser",
                "email": "employee2@company.com",
                "hms": "-3",
                "involvement": "76",
                "points": "340",
                "hi5": "9",
                "status": "Active",
                "teamId": "faEATkQ8PBuemBCee",
                "teamName": "Designers"
            }
        ]
        
+ Response 400 (application/json)
        
        {
            errors:[
              'Error 1 description',
              'Error 2 description'
            ]
        }

## Feedback [/feedback/{?teamId}/{?employeeId}/{?startDate}/{?endDate}]

### List all feedback [GET]
Returns all feedback for specified team or employee or all if none specified. It will also include the reply if the team manager has replied to the feedback.

Only users with admin or manager permissions will get a list of all feedback. Standard users will only get their own.

Feedback with a token Id have not been answered by the employee. You will need that token to create a new feedback and mood status report.

Possible values of frequency are: day, week or month.

Field isNew indicates if feedback has or hasn't been marked as read by the team manager.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/feedback?teamId=faEATkQ8PBuemBCee&employeeId=vFZ5mrecWazrJeBW3&startDate=2016-03-01&sendDate=2016-03-31"

+ Parameters
    + teamId (string, optional) - Id of a team.
    + employeeId (string, optional) - Id of an employee.
    + startDate (string, optional) - Format YYYY-MM-DD.
    + endDate (string, optional) - Format YYYY-MM-DD.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "yve9tCC7hB2r4w7Xw",
                "createdAt": "2016-05-12T08:30:02.047Z",
                "isNew": false,
                "token": token,
                "employeeId": "gaEATkQ8PBuemBCiv",
                "employeeName": "Claire Beauchamp",
                "teamId": "nWW3LtZcCmdBrTfMh",
                "result": "As expected",
                "message": "Project is going ok. We are on schedule",
                "replyEmployeeId": "gaEATkQ8PBuemBCiv",
                "replyEmployeeName": "Black Jack",
                "replyMessasge": "Thanks Claire. Ping me if you have any problems.",
                "replyCreatedAt": "2016-05-15T23:17:45.420Z"
            }
        ]   
        
### Add a new feedback [POST]
Add a new mood status and an optional feedback message.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/teams"  -X POST -d '{"token": "r3j40939jr010rjfqw0fj09jfeijerwfeorf", "status": "good", "message": "I've completed all tasks in time."}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            
                token (string) - The name of the new team.
                status (string) - Mood status. Allowed values are: good, fine, bad
                message(text) - Feedback message
            }

+ Response 200 (application/json)

            {
                "id": "yve9tCC7hB2r4w7Xw",
                "createdAt": "2016-05-12T08:30:02.047Z",
                "isNew": false,
                "token": token,
                "employeeId": "gaEATkQ8PBuemBCiv",
                "employeeName": "Claire Beauchamp",
                "teamId": "nWW3LtZcCmdBrTfMh",
                "result": "As expected",
                "frequency": "Weekly",
                "message": "Project is going ok. We are on schedule",
                "replyEmployeeId": "",
                "replyEmployeeName": "",
                "replyMessasge": "",
                "replyCreatedAt": "2016-05-15T23:17:45.420Z"
            }      

## Feedback - Last unanswered vote request [/feedback/{employeeId}/nextVote]

### Display the last feedback request unanswered [GET]

It returns information about the latest unanswered feedback request.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/nextVote/koEATko8PBuemBCchas"

+ Parameters
    + employeeId (string) - Id of the employee.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        {
            "id": "yve9tCC7hB2r4w7Xw",
            "createdAt": "2016-05-12T08:30:02.047Z",
            "isNew": false,
            "token": "ho5h4u32ih5432ohdn2o432df4n32d84023",
            "employeeId": "gaEATkQ8PBuemBCiv",
            "employeeName": "Claire Beauchamp",
            "teamId": "nWW3LtZcCmdBrTfMh",
            "result": "",
            "frequency": "Weekly",
            "message": "",
            "replyEmployeeId": "",
            "replyEmployeeName": "",
            "replyMessasge": "",
            "replyCreatedAt": ""
        } 
   
## Dashboard [/dashboard/{?resourceType}/{?resourceId}/{?startDate}/{?endDate}]

### Get detailed metrics [GET]

Returns detailed metrics for the company, team or employee.

If no resource is provided it will return metrics about the company.

If no start and end dates are provided then it will return metrics for the last 3 months.

#### Returned fields

resultsBad: Number of votes for the "Worst than expected" option.

resultsGood: Number of votes for the "Better than expected" option.

resultsFine: Number of votes for the "As expected" option.

totalVotes:  Number of valid votes received.

totalCount: Number of votes generated.

totalPending: Number of votes without a result (employee has not voted).

involvement: % of involvement of the team/employee.

totalHms: Global HMS for the team/employee.

companyName: Name of the company.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-d: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/dashboard?resourceType=employee&resourceId=vFZ5mrecWazrJeBW3&startDate=2016-03-01&sendDate=2016-03-31"
    

+ Parameters
    + resourceType (string, optional) - It should be "team" or "employee".
    + resourceId (string, optional) - The ID of the resource.
    + startDate (string, optional) - Format YYYY-MM-DD.
    + endDate (string, optional) - Format YYYY-MM-DD.
            
+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    
+ Response 201 (application/json)

        {
            "resultsBad": 1,
            "resultsGood": 8,
            "resultsFine": 30,
            "totalVotes": 39,
            "totalCount": 65,
            "totalPending": 26,
            "involvement": 60,
            "totalHms": "6",
            "companyName": "Highlands Company",
            "teamId": "faEATkQ8PBuemBCee",
            "teamName": "Designers"
            "employeeId": "vFZ5mrecWazrJeBW3",
            "employeeName": "James Fraser"
        }
        
+ Response 400 (application/json)
        
        {
            errors:[
              'Error 1 description',
              'Error 2 description'
            ]
        }
        
## 1 on 1 Todos [/todos]

### List all 1 on 1 Todos [GET]
Returns all 1 on 1 todos.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/todos"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "koEATko8PBuemBCchas",
                "employeeId": "vFZ5mrecWazrJeBW3",
                "description": "Content for the description field",
                "personId": "gaEATkQ8PBuemBCiv",
                "personName": "Claire Beauchamp",
                "done": false
            },
            {
                "id": "koEATko8PBuemBCchas",
                "employeeId": "vFZ5mrecWazrJeBW3",
                "description": "Reminder to keep 1on1 short and focused.",
                "personId": "vFZ5mrecWazrJeBW3",
                "personName": "James Fraser",
                "done": false
            }
        ]
        
### Add a todo [POST]

Creates a new 1 on 1 Todo. You can link your todos to a specific employee sending an optional parameter personId.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/todos" -X POST -d '{"description": "New 1on1 content", personId: "gaEATkQ8PBuemBCiv"}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                description (string) - Content of the description field.
                personId (string, optional) - Id of the employee.
            }

+ Response 200 (application/json)

        {
            "id": "koEATko8PBuemBCchas",
            "employeeId": "vFZ5mrecWazrJeBW3",
            "description": "New 1on1 content",
            "personId": "gaEATkQ8PBuemBCiv",
            "personName": "Claire Beauchamp",
            "done": true
        }
        
## 1 on 1 Todo [/todos/{todoId}]

### Display a todo [GET]
Returns information for the selected 1 on 1 todo.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/todos/koEATko8PBuemBCchas"

+ Parameters
    + todoId (string) - Id of the todo.

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        {
            "id": "koEATko8PBuemBCchas",
            "employeeId": "vFZ5mrecWazrJeBW3",
            "description": "Content for the description field",
            "personId": "gaEATkQ8PBuemBCiv",
            "personName": "Claire Beauchamp",
            "done": false
        } 

### Edit a todo [POST]

Updates the field done with true or false.

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/todos/koEATko8PBuemBCchas" -X POST -d '{"todoDone": "true"}'

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"
            
    + Body
    
            {
                todoDone (string) - Accepts true/1 or false/0.
            }

+ Response 200 (application/json)

        {
            "id": "koEATko8PBuemBCchas",
            "employeeId": "vFZ5mrecWazrJeBW3",
            "description": "Content for the description field",
            "personId": "gaEATkQ8PBuemBCiv",
            "personName": "Claire Beauchamp",
            "done": true
        }

### Delete a todo [DELETE]
Deletes the indicated 1 on 1 todo

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/todos/koEATko8PBuemBCchas" -X DELETE

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        {
            deleted: 'ok'
        }
        
## Prizes [/prizes]

### List all prizes [GET]
Returns all prizes.

Only users with admin or manager permissions will get a list of prizes. 

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/prizes"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "prizeType": "Level",
                "name": "Level 1",
                "description": "Earn 50 or more points.",
                "imagePath": "https://happymoodscore.com/images/badges/level1-prize.png"
            }
        ]
        
## Rewards [/rewards]

### List all rewards [GET]
Returns all rewards.

Only users with admin or manager permissions will get a list of rewards. 

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/rewards"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "name": "Profile50",
                "description": "Complete at least 50% of your employee profile data.",
                "value": 5000,
                "imagePath": "https://happymoodscore.com/images/badges/level1-prize.png",
                "activityDescription": "has completed 50% of the employee profile data."
            }
        ]   
        
## Rules [/rules]

### List all rules [GET]
Returns all rules.

Only users with admin or manager permissions will get a list of rules. 

Example:

curl -H 'Accept: application/json' -H 'Content-type: application/json' -H "X-Auth-Token: _p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz" -H "X-User-Id: HpzTxbG42fAqAMRhK" "https://happymoodscore.com/api/v3/rules"

+ Request (application/json)
    + Headers
    
            X-Auth-Token: "_p0LOth3HW8A77lpxvRdLAxZK16_t1TZZT3hkOJvdJz"
            X-User-Id: "HpzTxbG42fAqAMRhK"

+ Response 200 (application/json)

        [
            {
                "id": "gaEATkQ8PBuemBCiv",
                "prizeId": "reEATkQ8P9u1mBCiv",
                "conditions": [
                    {
                        "operation": "points",
                        "field": "--",
                        "expression": "gte",
                        "value": 99
                    }
                ]
            }
        ]